@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(241, 245, 241);
}

@media (max-width: 280px) {
  .fixed-position {
    position: relative; /* Lock the hamburger menu in place */
    left: 10px;
  }
}
